$input-border-color: #ffffff;
$bmd-label-color: #ffff;
$theme-colors: (
  "primary": #A46EB2
);

@import "../node_modules/bootstrap-material-design/scss/bootstrap-material-design.scss";
:root{
    --mainBlack:#121212;
    --mainWhite:#ffff;
    --mainPrimaryViolet:#A46EB2;
}
input{
    color:#ffff !important;
}
html{
    height:100%;
}
body{
/* 
font-family: 'Quantico', sans-serif;*/
background-color:var(--mainBlack);
}
#visit{
    background-color:#121212 !important;
}
.main-image{
    animation:opacityAppear;
    animation-duration: 5s;
    animation-delay:0.2s;
    animation-fill-mode: forwards;
    opacity:0;
}
.title{
    animation:opacityAppear;
    animation-duration: 5s;
    animation-delay:0.2s;
    animation-fill-mode: forwards;
    opacity:0;
    color:var(--mainWhite);
    font-family: 'Allerta Stencil', sans-serif !important;
}
.left-title{
    font-size:30px;
    color: var(--mainBlack) !important;
}
@keyframes opacityAppear{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.animated-text{
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}
.inline-animation{
    display: inline-block;
}
#visit .btn{
    font-size:25px;
    animation:opacityAppear;
    animation-duration: 5s;
    animation-delay:0.2s;
    animation-fill-mode: forwards;
    opacity:0;
    font-family: 'Quantico', sans-serif;
}
.btn-transparent{
    color:var(--mainWhite);
    width:120px;
}
.btn-transparent:hover{
    color:var(--mainWhite);
}



#mainNav .navbar{
    background-color:var(--mainBlack) !important;
}
#mainNav .navbar i{
    font-size:30px;
    color:var(--mainWhite) !important;
}

.bar{
    width:30px;
    height:3px;
    margin:5px;
    background:var(--mainWhite);
    transition: all 0.5s ease;
  }
.change .bar1{
    transform: rotate(-45deg) translate(-5px, 6px);
  }
.change .bar2{
    opacity:0;
  }
.change .bar3{
    transform: rotate(45deg) translate(-5px, -6.5px);
  }



.register-window{
    background-color:#1A1A1A;
    font-family: 'Quantico', sans-serif;
    color:#ffff;
}
.card-title{
    font-size:40px !important;
}

.underline{
    background:#ffff;
    height:1px;
    width:100%;
}

.btn-primary{
    font-size:20px !important;
}
.register-img{
    animation:opacityAppear;
    animation-duration: 3s;
    animation-delay:0.2s;
    animation-fill-mode: forwards;
    opacity:0;
}
.form-control{
    background-color:rgba(44,44,44,0.4) !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.homeTitle{
    font-size:40px !important;
    font-family: 'Quantico', sans-serif;
    color:#ffff;
}
.logoutBtn{
    font-family: 'Quantico', sans-serif;
}